*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.blackTextImage, .redTextImage {
    width: 100%;
    
    height: auto;
  }

  svg {
    width: 100vw;
    height: 100vh;
  }
.redTextImage{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    /*  transition: opacity 0.3s; */
}

.image-mapper-shape {
    fill: rgba(0, 0, 0, 0); /* black! */
}
/* g:hover .image-mapper-shape {
    stroke: white;
    stroke-width: 2px;
    opacity: 20%;
 } */
