*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    font-family:'Source Code Pro', monospace;
    list-style-type: none;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.blackTextImage, .redTextImage {
    width: 100%;
    height: auto;
}

svg{
    display: block;
    margin: 0 auto;
    width: 100%; /* Adjust as needed */
    height: auto; /* Ensure the SVG scales properly */
    max-height: calc(100vh - 100px);
}

.redTextImage{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    /*  transition: opacity 0.3s; */
}

.image-mapper-shape {
    fill: rgba(0, 0, 0, 0); /* black! */
}
/* g:hover .image-mapper-shape {
    stroke: white;
    stroke-width: 2px;
    opacity: 20%;
 } */
.footer {
    text-align: center;
    margin-top: 2px; /* Adjust as needed to position below the picture */
    border-radius: 4px; /* Adjust the value to make the corners more or less rounded */
    padding: 1px 20px; /* Add padding to the top/bottom and left/right */
    background-color: red; /* Set initial background color to red */
}

.footer a {
    display: inline-block;
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
    color: inherit; /* Inherit color from parent element */
}

span{
    font-size: 26px;
}

/* Media query for small screens */
@media (max-width: 600px) {
    .footer {
     
      padding: 10px; /* Adjust padding */
    }
  
    .footer a {
      font-size: 13px; /* Adjust font size */
      display: inline-block; /* Stack elements vertically */
      margin-bottom: 10px; /* Add space between elements */
    }
    .footer span{
        font-size: 13px;
    }
}
