* {
    box-sizing: border-box;
}
body {
    font-family:'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Mobile styles */

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  
  article {
    display: flex;    
    justify-content: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    margin-bottom: 1px; /* adjust this value to your liking */
  }
  
  article img {
    display: block; /* Ensure images are block elements */
    width: 100%; /* Make images responsive */
    margin: 0 auto; /* Center images */
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
  
  /* iPad styles */
  
  /* iPad portrait mode */
  @media (max-width: 1024px) and (orientation: portrait) {
    main {
      grid-template-columns: 1fr;
      gap: 0px;
    }
    article {
      height: auto; /* fill the screen height */
      overflow-y: auto; /* add a scrollbar if the content is too long */
    }
  }
  
  /* iPad landscape mode */
  @media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    main {
      grid-template-columns: 1fr 1fr;
      gap: 0px;
    }
    article {
      height: auto; /* fill the screen height */
      overflow-y: auto; /* add a scrollbar if the content is too long */
    }
  }
/* Button */
.button-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  gap: 10px; /* Add space between elements */
  padding: 10px; /* Add padding around the container */
  position: fixed;
  top: 20px; /* Adjust this value to separate from the top of the viewport */

}
.button {
  display: inline-block;
  background-image: url('etnPDFs/noiseForWebButtonCropped_200x126.png'); 
  background-size: cover;
  background-position: center;
  width: 260px; /* adjust to your desired width */
  height: 30px; /* adjust to your desired height */
  border-radius: 13px; /* heavily rounded corners */
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden; /* Ensure the pseudo-element does not overflow */

  text-align: center; /* Center the text horizontally */
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('etnPDFs/noiseForWebButtonCropped_200x126.png'); 
  background-size: cover;
  background-position: center;
  filter: blur(1px); /* Initial state without blur */
  transition: filter 0.21s ease-in-out; /* Smooth transition */
  transition: color 0.21s ease-in-out; /* Smooth transition for color change */

  z-index: 0; /* Ensure the pseudo-element is behind the text */
}

.button:hover::before {
  filter: blur(0px); /* Apply blur effect on hover */
}

.button:hover span {
  color: #000000; /* Change text color on hover */
}
.button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1; /* Ensure the text is above the pseudo-element */

  white-space: nowrap; /* Prevent text wrapping */
  width: 100%; /* Ensure the text takes full width of the button */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 0 10px; /* Add padding to the left and right */
}
