* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.K {
    margin: 4em;
}
body {
  
    font-family:'Source Code Pro', monospace;
    list-style-type: none;
    font-size: 80%;
    background: #000000;
    line-height: 1.2;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    } 
.div-image  {
    display: flex;
    justify-content: center;
    border: none
    }

article {
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background: #000000
  }
  img {
    max-width: 100%;
    height: auto;
    
  }

  header, footer{
    background: #333;
    color: #fff;
    padding: 8px;
    text-align: center;
  }

  header{
    font-size: 35px;
    color: #000000;
    font-weight: bold;
    background: url("images_code/noiseForWebTextCropped.jpg");
    -webkit-background-clip: text;
            background-clip: text;
    opacity: 1; /*to adjust maybe none*/
    filter: blur(1px); /*to adjust*/
  }
  footer{
    font-size: 21px;   
    background: #000000; 
  }

  /*border/format for each button */
  .main-nav-button{
    /*color: white;*/
    text-decoration: none;
    font-size: 31px;
    font-weight: 400;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    list-style-type: none;

    /*==== maybe to remove ====*/
    border: 1px solid white;
    padding: 8px;
    margin: 0;
    margin-bottom: 0px;
  }
.main-nav-button a { /*text color*/
    color: white;
    letter-spacing: 1px; /* Adjusted letter-spacing */
  }
.main-nav-button a:hover {
    /*color: red;*/
    font-weight: 700;
    font-size: 31px;
    letter-spacing: 1px;
    color: transparent;
      -webkit-text-stroke-width: 1.2px;
      -webkit-text-stroke-color: white;
  }
